package views

templ App() {
<div class="app-container">
  <div class="chat-container">
    <textarea id="app-chat-input" class="chat-input" autocomplete="off" placeholder="Reply..."></textarea>
    <div class="app-chat-submit">
      <button id="app-chat-submit-btn" class="primary-button">&uarr;</button>
    </div>
  </div>
</div>
}