.app-container {
  background-color: var(--color-background);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100dvw;
  height: 100dvh;
  padding: var(--pad-lg) min(var(--pad-sm), 2dvw) var(--pad-lg)
    min(var(--pad-sm), 2dvw);
  box-sizing: border-box;
}

.chat-container {
  display: flex;
  flex-direction: column;
  gap: var(--pad-sm);
  padding-top: var(--pad-md);
}

.chat {
  width: min(44rem, 96dvw);
  box-sizing: border-box;
  min-height: 6rem;
  max-height: 8rem;
  position: relative;
}

.chat-input {
  border-radius: var(--radius-lg);
  border: var(--border-primary);
  outline: none;
  color: var(--color-text);
  background-color: var(--color-surface);
  resize: none;
  width: 100%;
  height: 100%;
  padding: var(--pad-md);
  box-shadow: var(--box-shadow);
  box-sizing: border-box;
}

.app-chat-submit {
  position: absolute;
  right: 8px;
  bottom: 8px;
}

.chat-window {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: min(44rem, 96dvw);
  align-items: center;
  justify-content: center;
  gap: 1rem;
  justify-content: flex-start;
  overflow-y: auto;
}

.quick-action {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--font-size-sm);
  height: 96px;
  width: 96px;
  border-radius: var(--radius-md);
  border: var(--border-primary);
  box-shadow: var(--box-shadow);
  box-sizing: border-box;
}

.quick-actions-container {
  display: grid;
  grid-template-columns: 96px 96px;
  grid-template-rows: 96px 96px;
  gap: var(--pad-md);
  margin: auto;
  view-transition-name: quick-actions;
}

.quick-bar-container {
  opacity: 0;
  pointer-events: none;
  view-transition-name: quick-bar;
}

.quick-bar-container.show {
  opacity: 1;
  pointer-events: all;
}

.menu-container {
  width: 100%;
}

#app-menu {
  background-color: var(--color-background);
  color: var(--color-font);
  z-index: 100;
  display: flex;
  flex-direction: column;
  border: none;
  border-right: var(--border-primary);
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 244px;
  margin: 0;
  padding: 1rem;
  transform: translateX(-100%);
  transition:
    transform 0.3s ease,
    display 0.3s ease allow-discrete;
}

#app-menu:popover-open {
  transform: translateX(0);
}

@starting-style {
  #app-menu:popover-open {
    transform: translateX(-100%);
  }
}

.app-menu-title {
  display: flex;
  justify-content: space-between;
}

.app-menu-options-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  padding-bottom: var(--pad-lg);
}

.chat-message {
  background-color: var(--color-surface);
  border-radius: var(--radius-lg);
  padding: var(--pad-md);
  align-self: flex-end;
  justify-self: unset;
}

/*Only allow hover on devices that support it, ie not mobile*/

@media (hover: hover) {
  .quick-action:hover {
    cursor: pointer;
  }
}

.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.login-form-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: min(512px, 90%);
  height: min-content;
  border: var(--border-primary);
  border-radius: var(--pad-md);
  box-sizing: border-box;
  padding: var(--pad-md);
  color: var(--color-muted);
}

.login-footer {
  display: flex;
  justify-content: center;
}

.login-inputs {
  display: flex;
  flex-direction: column;
  gap: var(--pad-md);
}
