@import url("./app.css");
@import url("./components.css");

:root {
  --space-xs: 4px;
  --space-sm: 8px;
  --space-md: 16px;
  --space-lg: 32px;
  --space-xl: 32px;

  --pad-xs: 0.25rem;
  --pad-sm: 0.5rem;
  --pad-md: 1rem;
  --pad-lg: 2rem;
  --pad-xl: 3rem;
  --pad-xxl: 4rem;

  --radius-xs: 2px;
  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 16px;
  --radius-xl: 32px;

  --font-sans: "Inter", sans-serif;
  --font-size-sm: 0.875rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.25rem;

  --color-primary: rgb(13, 123, 30);
  --color-background: #dce0d8;
  --color-surface: #dce0d8;
  --color-text: #152c14;
  --color-muted: #697471;

  --border-primary: 1px var(--color-surface) solid;

  --box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

html {
  font-family: var(--font-sans);
  font-size: var(--font-size-md);
  letter-spacing: 0.01em;
  word-spacing: 0.05em;
  background-color: var(--color-background);
  color: var(--color-text);
}

textarea {
  font-family: var(--font-sans);
  font-size: var(--font-size-md);
  letter-spacing: 0.01em;
  word-spacing: 0.05em;
}

button {
  font-family: var(--font-sans);
  font-size: var(--font-size-sm);
  letter-spacing: 0.01em;
  word-spacing: 0.05em;
}

button:hover {
  cursor: pointer;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100dvh;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: rgb(46, 184, 68);
    --color-background: #111612;
    --color-surface: #1a211b;
    --color-text: #d4e8d3;
    --color-muted: #8a9e8a;
  }
}
